@model Kütüphaneotomasyonu.entities.Model.Roller

@{
    ViewBag.Title = "Rol Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rol Düzenle</h2>

@using (Html.BeginForm("Duzenle", "Roller", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.rol)
        @Html.TextBoxFor(model => model.rol, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.rol, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    @Html.ActionLink("İptal", "Index", null, new { @class = "btn btn-secondary" })
}
