@using PagedList
@using PagedList.Mvc

@model IPagedList<Kütüphaneotomasyonu.entities.Model.KitapTürleri>

@{
    ViewBag.Title = "Kitap Türleri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form action="@Url.Action("Index", "KitapTurleri")" method="get" class="mb-3">
    <label style="font-weight:bold">Kitap Türü Ara</label>
    <input type="text" name="Ara" value="@ViewBag.Ara" />
    <button type="submit">Ara</button>
</form>

<div class="row">
    <div class="col-lg">
        <div class="ibox">
            <div class="ibox-head">
                <h4>Kitap Türleri Listesi</h4>
            </div>
            <div class="ibox-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Kitap Türü</th>
                            <th>Açıklama</th>
                            <th></th> <!-- Düzenle butonu için -->
                            <th></th> <!-- Sil butonu için -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Kitapturu</td>
                                <td>@item.Acıklama</td>
                                <td>
                                    @Html.ActionLink("Düzenle", "Duzenle", "KitapTurleri", new { id = item.Id }, new { @class = "btn btn-warning" })
                                </td>
                                <td>
                                    @Html.ActionLink("Sil", "Sil", "KitapTurleri", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinize emin misiniz?');" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.PagedListPager(Model, page => Url.Action("Index", "KitapTurleri", new { page, Ara = ViewBag.Ara }), new PagedListRenderOptions
                {
                    FunctionToTransformEachPageLink = (li, a) =>
                    {
                        a.AddCssClass("page-link");
                        li.InnerHtml = a.ToString();
                        return li;
                    }
                })

                <div class="mt-3">
                    @Html.ActionLink("Yeni Kitap Türü Ekle", "Ekle1", "KitapTurleri", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>
